//! **************************************************************************
// Written by: Map P.15xf on Wed Jun 15 11:47:00 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SCK" LOCATE = SITE "A9" LEVEL 1;
COMP "MOSI" LOCATE = SITE "A3" LEVEL 1;
COMP "Paritet" LOCATE = SITE "C6" LEVEL 1;
COMP "SS_not" LOCATE = SITE "B6" LEVEL 1;
COMP "output" LOCATE = SITE "J3" LEVEL 1;
NET "MClk_BUFGP/IBUFG" BEL "MClk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "SCK_BUFGP/IBUFG" BEL "SCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

